.companyCountWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .companyCountContainer{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .companyCountHeader{
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            h2{
                font-size: 30px;
                color: var(--kssiaBlue);
                @media(max-width:1180px){
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
        .companyCountContent{
            flex: 5;
            display: flex;
            @media(max-width:1180px){
                gap: 20px;
            }
        }
    }
}