.adminCompanyListWrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
    .adminCompanyListContainer{
        width: 100%;
    }
    .adminCompanyListTable{
        width: 80%;
    }
}